<div class="page-header">
  <h1>Consumption #<%= @consumption.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Item</dt>
  <dd><%= @consumption.item_id %></dd>

  <dt>Quantity</dt>
  <dd><%= @consumption.quantity %></dd>

  <dt>Waste</dt>
  <dd><%= @consumption.waste %></dd>

</dl>
