<h1>History</h1>

<p> Turnip started as an idea of "Team Food Waste" that was formed during the KIEI 462 Class at the Kellogg Part-Time MBA program. </p>


<h1> Frequently Asked Questions</h1>
<p>Q: What is Turnip?</p>
<p>A: Turnip is a device that allows you to enter, in an efficient and effortless way, inputs in regards to your grocery purchases and consumptions. It helps you maintain accurate inventory levels of your groceries and gives you real time visibility of what is in your kitchen. </p>
<p></p>
<p>Q: So What?</p>
<p>A: Turnip is data-driven. It becomes smarter the more you use it and delivers powerful results. It provides shopping lists, recommendations for recipes and grocery shopping, coupons and much more!</p>
<p>Q: Aaaaah! I get it! But does it save you any money?</p>
<p>A: Turnip saves you tons of money! Start using it today!!</p>
