<h1>Welcome to Turnip!</h1>

<div> Turnip is an application that helps you keep track of your grocery inventory in a seamless and effortless way. It allows you to load all your grocery purchases in a "virtual" kitchen and makes it easy for you to deduct inventory as you consume it or throw it in the garbage. Keeping track of food inventory levels and expiration dates will help you make better purchasing decisions and avoid wasting food and throwing your money in the garbage! Use Turnip and make your wallet fatter and our planet a better place!!</div>

<p>
</p>

<img src="/greenplanet.jpg" alt="Food Items" width="1130" height="300">

<p>
</p>

<div>
Please click on one of the pictures below to start managing your own virtual kitchen!
</div>

<p>
</p>

<table class="table">
  <thead>
    <tr>
      <th><a href="/food_items"><img src="http://www.smashbros.com/wii/en_us/items/images/item15/item15_080305_10-l.jpg" alt="Food Items" width="100" height="100"></a></th>
      <th><a href="/purchases"><img src="http://weightwise.com/wp-content/uploads/food-journal-617x416.jpg" alt="Inventorying" width="100" height="100"></a></th>
      <th><a href="/consumptions"><img src="http://foodsmart.weebly.com/uploads/1/4/5/4/14542404/3071118_orig.jpg?1" alt="Report" width="100" height="100"></a></th>
      <th><a href="/reports"><img src="http://www.ecphd.com/Resources/1320.jpg" alt="Report" width="100" height="100"></a></th>
      <th><a href="/recipes"><img src="http://nestbirds1.com/wp-content/uploads/2009/10/recipe-book-cover14.jpg" alt="Recipes" width="100" height="100"></a></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Enter New Food Items</td>
        <td>Enter your Purchases</td>
        <td>Indicate your Consumptions</td>
        <td>Access Powerful Reports</td>
        <td>Try a New Recipe</td>
      </tr>
  </tbody>
</table>
