<h1>Home Page</h1>

<div> Let's talk here about how cool the app is and provide a list of modules, through pictures, that users can click on to go to the different functions of the application</div>

<p>
</p>

<table class="table table-striped table-condensed">

<tr>
  <td><h4>Enter new food items</h4></td>
  <td><a href="/reports"><img src="http://www.smashbros.com/wii/en_us/items/images/item15/item15_080305_10-l.jpg" alt="Food Items" width="100" height="100"></a>
  </td>
</tr>

<tr>
  <td><h4>Log your activity</h4></td>
  <td><a href="/reports"><img src="http://weightwise.com/wp-content/uploads/food-journal-617x416.jpg" alt="Inventorying" width="100" height="100"></a>
  </td>
</tr>

<tr>
  <td><h4>Get a list of reports</h4></td>
  <td><a href="/reports"><img src="http://www.ecphd.com/Resources/1320.jpg" alt="Report" width="100" height="100"></a>
  </td>
</tr>

<tr>
  <td><h4>Find a recipe</h4></td>
  <td><a href="/reports"><img src="http://nestbirds1.com/wp-content/uploads/2009/10/recipe-book-cover14.jpg" alt="Recipes" width="100" height="100"></a>
  </td>
</tr>
</table>
