<h4>The master plan here is to pull in the AllRecipes or BigOven API and get access to a ton of recipes. I want to be able to identify the items that are critical in terms of an approaching expiration date and recommend recipes that will help utilize the ingredients before they go bad.</h4>

<p></p>
<p></p>
<p></p>

<img src="http://scotland.lovefoodhatewaste.com/sites/files/lfhw/image/banner.jpg?1380291599" alt="Food Items" width="1000" height="500">
