<h2>I will have all the reports here</h2>

<div class = "jumbotron"><h4>Activity breakdown by month</h4></div>
<img src="http://www.graphicsfuel.com/wp-content/uploads/2011/11/pie-chart-512.png" alt="Food Items" width="200" height="200"></a>

<div class = "jumbotron"><h4>Percentage of food going to waste</h4></div>
<img src="http://digitalunion.osu.edu/r2/summer07/dvancamp/images/notransbycategorysmall.jpg" alt="Food Items" width="600" height="200"></a>
