<h3>Below is a list of reports that will bring powerful insights and lead to better decisions.</h3>



<div class = "title"><h4>Percentage of Food Going to Waste</h4></div>
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Activity', 'Amount'],
          ['Consumption',     138],
          ['Waste',      14],
        ]);

        var options = {
          title: 'Consumption vs. Waste',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart_3d" style="width: 400px; height: 300px;"></div>
  </body>
</html>

<div>
Quantity Consumed: <%= Consumption.where(waste: nil).sum("quantity")%>
Quantity Wasted: <%= Consumption.where(waste: true).sum("quantity")%>
</div>
<div class = "title"><h4>Breakdown of Waste by Category</h4></div>
<img src="http://digitalunion.osu.edu/r2/summer07/dvancamp/images/notransbycategorysmall.jpg" alt="Food Items" width="600" height="200"></a>

<div class = "title"><h4>Critical Food Items</h4></div>
<div class = "title"><h4>Inventory List</h4></div>
