<div class="page-header">
  <h1>Add U Of M</h1>
</div>

<% if @u_of_m.errors.any? %>
  <% @u_of_m.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_u_of_m" class="form-horizontal">
  <!-- Label and input for unit_name -->
  <div class="form-group">
    <label for="unit_name" class="col-sm-2 control-label">
      Unit name
    </label>
    <div class="col-sm-10">
      <input type="text" id="unit_name" name="unit_name" placeholder="Unit name" class="form-control" value="<%= @u_of_m.unit_name %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create U Of M" class="btn btn-primary">
    </div>
  </div>
</form>
